// semantic ui overwrites.
.pushable{
  overflow-y:auto !important;
}
.masthead {
  min-height:90%;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* basics */

.dark-text{
  color:$dark-gray;
}
h3{
  color:$dark-gray;
}
.h3-lg{
  font-size:2rem;
}
.p-lg{
  font-size:1.0rem;
  line-height:1.5rem;
  @media(min-width:600px){
    font-size:1.4rem;
    line-height:1.9rem;
  }
}
.ui.menu .item>img:not(.ui){
  width: 10.5em;
}

/* section: welcome slide */
#home .twelve.wide.column.text-centered {
  width: 100% !important;
  @media(min-width:600px){
    width:75% !important;//semantic ui default
  }
}
h1.ui.header.hero {
  font-family: $raleway;
  color: $red;
  font-size:2.5rem;
  font-weight:normal;
  //margin-top:2rem;
  @media(min-width:600px){
    font-size:3rem;
    //  margin-top:3rem;
  }
  @media(min-width:768px){
    font-size:4rem;
    font-size:5vw;
    margin-bottom:4rem;
    // margin-top:4rem;
  }
}

.masthead{
  background-color:$pale-blue;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-wrap{
  padding:3rem 0;
  min-height:80%;
  display: flex;
  @media(min-width:768px){
    min-height:80vh
  }
}
.ui.secondary.pointing.menu{
  border:none;
}

/* main desktop menu */
@media(max-width:600px){
  .ui.menu:not(.vertical) .item {
    margin-top: 5px; // need to v-center nav-btn
  }
}
@media(max-width:767px){
  .menu-wrap{
    //align top menu items to the top
    align-items:flex-start !important;
  }
}
.ui.menu:not(.vertical) .right.item,
.ui.menu:not(.vertical) .right.menu {
  align-self: flex-end;
}
.ui.container.full-width{
  width:100% !important;
}
.ui.large.secondary.pointing.menu {
  @media(max-width:767px){
    padding: 1rem 0 0;
  }
}
.ui.secondary.pointing.menu .item{
  font-family:$khula;
  font-size:13px;
  text-transform:uppercase;
  border:none;
  color:transparentize($dark-gray, 0.5);
  transition:0.33s;
  @media(max-width:767px){
    //  margin: 0 0 -7px !important;
  }
}
@media(min-width:768px){
  .ui.menu .item>img:not(.ui) {
    margin: 3px 0 !important;
  }
}
.ui.secondary.pointing.menu .active.item{
  color:transparentize($dark-gray, 0.5);
}
@media(max-width:768px){
  .hide-mobile li{
    display:none !important;
  }
  .nav-btn i{
    font-size:1.5rem;
    align-self: flex-end;
  }
}

/* following menu */
#menunav li{
  list-style:none;
  // align-self: flex-end;
  // margin-top:-5px;
}
.hidden.menu {
  display: none;
}
.menu-bg{
  background:transparentize(#fff,0.15) !important;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}
ul.following-menu {
  list-style: none;
}
.logo-wrap{
  align-self:flex-end;
}
.following-logo{
  max-width:200px;
  max-height:40px;
}
.ui.menu .item:before{
  width:0;
}
.following-menu a{
  font-size:14px;
  text-transform:uppercase !important;
  font-family:$khula;
  color:transparentize($dark-gray,0.5) !important;
  padding-top:25px !important;
  transition:0.33s;
  border-bottom:3px solid transparentize(#fff,1.0);
}
.ui.menu .following-menu a.item:hover{
  background:none !important;
  background-color:none !important;
  color:transparentize($dark-gray,0.25) !important;
}
.following-menu li.active a{
  background-color:none !important;
  background:none !important;
  border-bottom:3px solid $teal1;
}
@media(max-width:767px){
  .left.item {
    padding: 1rem 0 0 !important;
  }
}
.ui.large.top.menu.fixed {
  padding:0rem 1rem 0 1rem;
  border:none !important;
}
// hide dropdown nav for mobile
@media(max-width:767px){
  .ui.large.top.fixed.menu {
    background:none !important;
    border-bottom:none!important;
    box-shadow:none !important;
    pointer-events:none;
  }
  .ui.large.top.fixed.menu .left.menu{
    display:none !important;
  }
}
a.toc.item.nav-btn {
  position:fixed;
  top:1rem;
  right:1rem;
  z-index:999;
  color:$dark-gray;
  background:#fff;
  padding: 6px 4px 1px 9px !important;
  line-height: 2rem;
}
a.toc.item.nav-btn:hover{
  cursor:pointer;
}
/* static menu */
.static a.toc.item.nav-btn {
  line-height: 1rem;
}
div#topmenu li {
  list-style: none;
}
.ui.large.top.menu.static {
  background: none;
  border: none;
  box-shadow: none;
  padding:0.5rem 1rem 0 1rem;
}
@media(min-width:768px){
  a.toc.item.nav-btn {
    display: none !important;
  }
  .ui.menu.static .item {
    line-height: 0 !important;
  }
}
/* mobile menu icon */
a.toc.item.nav-btn {
  padding: 12px 2px 5px 9px;
}
/* mobile modal menu */
ul.modal-nav {
  padding-left: 0;
}
.modal-nav li{
  list-style:none;
}
.modal-nav a{
  font-family:$raleway;
  font-size:2rem;
  color:#fff;
  line-height:4rem;
}
i.close.icon.nav-close {
  font-size: 2rem;
}
.ui.dimmer{
  background-color:rgba($dark-gray, 0.95) !important;
}

/* blocks of content, content sections */
.content-block{
  min-height:90%;
  padding:9rem 0 !important;
  display:flex;
  align-self:center;
  justify-content:center;
}

.ui.items>.item>.content{
  text-align:left;
}
input#mc-embedded-subscribe{
  font-family:$khula !important;
  font-size: 1.2rem;
  line-height: 0.5rem;
  padding: 1.25rem 1rem 1rem;
  width: 100%;
  max-width:330px;
  margin-top: 1rem;
  @media(min-width:800px){
    width:auto !important;
    margin-top:0 !important;
  }
}
.email.ui.input{
  max-width:330px;
  background:none !important;
  border-radius:0px !important;
  border-width:0 0 3px 0 !important;
  border-color: $red !important;
  border-bottom-style: inset !important;
  color: $dark-gray !important;
  font-family:$khula !important;
  font-size:1.5rem;
  font-weight:bold !important;
  padding: 0.67861429em 1em 0.2rem !important;
}
#confirmation-msg{
  font-family:$khula;
  color:$teal2;
  margin-top:2rem;
}
#confirmation-msg .error{
  color:$red;
}

input.email.ui.input::-webkit-input-placeholder {
  color: $teal2 !important;
  line-height:1.5rem;
  font-size:0.84rem;
  font-family:$khula !important;
  font-weight:bold !important;
}
input.email.ui.input::-moz-placeholder {
  color: $teal2 !important;
  line-height:1.5rem;
  font-size:0.84rem;
  font-family:$khula !important;
  font-weight:bold !important;
}
input.email.ui.input:-moz-placeholder {
  color: $teal2 !important;
  line-height:1.5rem;
  font-size:0.84rem;
  font-family:$khula !important;
  font-weight:bold !important;
}
input.email.ui.input:-ms-input-placeholder {
  color: $teal2 !important;
  line-height:1.5rem;
  font-size:0.84rem;
  font-family:$khula !important;
  font-weight:bold !important;
}

/* mailchimp #2 */
input#mc-embedded-subscribe2{
  background:#fff !important;
  font-family:$khula !important;
  font-size: 1.2rem;
  line-height: 0.5rem;
  padding: 1.25rem 1rem 1rem;
  width: 100%;
  max-width:330px;
  margin-top: 1rem;
  @media(min-width:800px){
    width:auto !important;
    margin-top:0 !important;
  }
}
input#mce-EMAIL2 {
  border-color: #fff !important;
  color:#fff !important;
}
input#mce-EMAIL2::-webkit-input-placeholder {
  color: #fff !important;
}
input#mce-EMAIL2::-moz-placeholder {
  color: #fff !important;
}
input#mce-EMAIL2:-moz-placeholder {
  color: #fff !important;
}
input#mce-EMAIL2:-ms-input-placeholder {
  color: #fff !important;
}
#confirmation-msg2{
  font-family:$khula;
  color:$dark-gray !important;
  margin-top:2rem;
}
#confirmation-msg2 .error{
  color:#fff;
}

/* section: how it works */
@media(max-width:767px){
  #howitworks .three.column.row{
    max-width:400px;
    margin:0 auto;
  }
  #howitworks .three.column.row .column{
    margin:0 auto 1rem !important;
    text-align:center;
  }
}

/* section: trips by you */

.sixteen.wide.column.memories-wrap {
  flex-direction: row !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom:3rem;
}
.sixteen.wide.column.uiprev-wrap{
  justify-content: center;
}
.memories img{
  max-width:300px;
  border:1px solid #eee;
  border-radius:2px;
}
.memory01 img{
  max-width:80px;
  transform: rotateZ(15deg);
  @media(min-width:600px){
    max-width:120px;
  }
  @media(min-width:768px){
    max-width:150px;
  }
}
.memory02 img{
  max-width:120px;
  transform:rotateZ(-15deg);
  @media(min-width:600px){
    max-width:200px;
  }
  @media(min-width:768px){
    max-width:250px;
  }
}
.memory03 img{
  max-width:95px;
  transform:rotateZ(15deg);
  @media(min-width:600px){
    max-width:150px;
  }
  @media(min-width:768px){
    max-width:200px;
  }
}

/* section: trippitch is made for ... */
.sixteen.wide.column.uiprev-wrap {
  flex-direction: row !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom:3rem;
  @media(max-width:767px){
    height:350px;
    flex-direction: row-reverse;
    align-items:flex-start;
    justify-content:center;
    flex-wrap: wrap-reverse;
  }
}
.about-centered{
  text-align:center !important;
  @media(min-width:400px){
    min-width:360px !important;
    max-width:460px;
  }
}

.uiprev01 img{
  max-height:100px;
  margin-left:40px;
  @media(max-width:767px){
    max-height:70px;
  }
}
@media(max-width:768px){
  .uiprev02{
    order:1;
    width:100%;
    text-align:center;
  }
  .uiprev01{
    margin-right:40px !important;
  }
}
.uiprev02 img{
  max-width:200px;
  @media(max-width:767px){
    max-width:200px;
    justify-content: center;
    margin:0 auto;
  }
}
.uiprev03 img{
  max-height:100px;
  @media(max-width:767px){
    max-height:70px;
  }
}




/* section: founders */

.ui.items .item {
  margin: 1rem 0 !important;
}
//names
.ui.items>.item>.content>a.header{
  color:$red;
  font-family:$raleway;
  font-size:1.25rem !important;
  margin-bottom:0 !important;
}
//titles
.ui.items>.item .meta{
  font-family:$lora;
  font-size:1rem;
  margin-bottom:2rem;
}
//description
.ui.items>.item>.content>.description{
  font-family:$lora;
  font-size:0.95rem;
  line-height:1.5rem;
  color: $light-gray !important;
}
@media(max-width:767px){
  .content {
    max-width: 250px;
    margin: 0 auto !important;
  }
}


/* section: call to action */
#signup .ten.wide.column.text-centered {
  width: 100% !important;
  @media(min-width:600px){
    width: 62.5%!important; //semantic ui default value
  }
}
.call-to-action{
  font-family:$raleway;
  color:#fff;
  font-size:2.5rem;
  font-weight:100 !important;
  //margin-top:2rem;
  @media(min-width:600px){
    font-size:2.5rem;
    //  margin-top:3rem;
  }
  @media(min-width:768px){
    font-size:3rem;
    // margin-top:4rem;
  }
}
h2.section-header{
  text-align:center;
  margin-bottom:2rem;
  @media(min-width:768px){
    margin-bottom:5rem;
  }
}

/* section: contact */
.reach-out{
  @media(min-width:768px){
    padding:4rem 0 !important;
  }
}
#contact .contact-wrap{
  min-height:70%;
}
.social-icon{
  height:40px;
  width:40px;
  margin:20px 5px;
  border:1px solid #ABABAB;
  opacity:0.33;
  padding:10px;
  border-radius: 3px;
}
img.contact-logo{
  max-width:150px !important;
  width:100%;
  margin-bottom:1rem;
}

/* footer */
.ui.inverted.vertical.footer.segment {
  background-color: $dark-gray !important;
  color:transparentize(#fff,0.5);
}

// overrides semantic ui red
.red{
  background-color:$red !important;
}
.text-centered{
  text-align:center !important;
}
.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
  margin: 0 auto; // get hero text centered on xl screens
}
