// semantic ui overwrites.
.pushable{
  overflow-y:auto !important;
}
.hidden.menu {
  display: none;
}
@media (max-width:768px){
  .hidden.menu {
    display: none !important;
  }
}

.masthead {
  min-height: 90vh;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

h1.ui.header.hero {
  font-family: $raleway;
  color: $red;
  font-size:2.5rem;
  font-weight:normal;
  @media(min-width:600px){
    font-size:3rem;
  }
  @media(min-width:768px){
    font-size:4rem;
  }
}

.ui.masthead{
  background-color:$pale-blue;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui.secondary.pointing.menu{
  border:none;
}

.dark-text{
  color:$dark-gray;
}
h3{
  color:$dark-gray;
}
.ui.menu .item>img:not(.ui){
  width: 10.5em;
}

/* main desktop menu */

.ui.large.secondary.pointing.menu {
    padding: 2rem 0;
}
.ui.secondary.pointing.menu .item{
  font-family:$khula;
  font-size:13px;
  text-transform:uppercase;
  border:none;
  color:transparentize($dark-gray, 0.5);
  transition:0.33s;
}
.ui.secondary.pointing.menu .active.item{
  color:transparentize($dark-gray, 0.5);
}

/* following menu */
.following-wrap{
  background:transparentize(#fff,0.15) !important;
}
.following-logo{
  max-width:200px;
  max-height:40px;
  align-self:center;
}
.ui.menu .item:before{
  width:0;
}
.following-menu a{
  font-size:14px;
  text-transform:uppercase !important;
  font-family:$khula;
  color:transparentize($dark-gray,0.5) !important;
  padding-top:30px !important;
  transition:0.33s;
  border-bottom:3px solid transparentize(#fff,0.0);
}
.ui.menu .following-menu a.item:hover{
  background:none !important;
  background-color:none !important;
  color:transparentize($dark-gray,0.25) !important;
}
.following-menu a.active{
  background-color:none !important;
  background:none !important;
  border-bottom:3px solid $teal1;
}


/* blocks of content, content sections */
.content-block{
  min-height:90vh;
  padding:9rem 0 !important;
  display:flex;
  align-self:center;
  justify-content:center;
}

.ui.items>.item>.content{
  text-align:left;
}

/* section: founders */

//names
.ui.items>.item>.content>a.header{
  color:$red;
  font-family:$raleway;
  font-size:1.25rem !important;
  margin-bottom:0 !important;
}
//titles
.ui.items>.item .meta{
  font-family:$lora;
  font-size:1rem;
  margin-bottom:2rem;
}
//description
.ui.items>.item>.content>.description{
  font-family:$lora;
  font-size:1rem;
  color: $light-gray !important;
}

/* section: call to action */
.call-to-action{
  font-size:3rem;
  font-family:$raleway;
  color:#fff;
}
h2.section-header{
  text-align:center;
  margin-bottom:2rem;
}

// overrides semantic ui red
.red{
  background-color:$red !important;
}
.text-centered{
  text-align:center !important;
}
