* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 12px;
  font-weight:300;
  line-height:1.8rem;
  font-family:'Lora', Georgia, Serif;
  color: #444;
  transition: all .4s .3s ease-in;
  @media(min-width:600px){
    font-size:13px;
  }
  @media(min-width:768px){
    font-size:18px;
  }
}
html {
  font-size: 14px;
  @media(min-width:600px){
    font-size:16px;
  }
  @media(min-width:768px){
    font-size:18px;
  }
}


h1{
  font-family:$raleway;
  font-weight:normal;
}
h2{
  font-family:$raleway;
  font-weight:normal;
  font-size:3rem;
}
h3{
  font-family:$khula;
  font-weight:bold;
  font-size:1.5rem;
}
p{
  font-family:$lora;
  color:$light-gray;
  font-size:1.075rem;
  line-height:1.7rem;
}
