$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

//brand colors
$red: #E46056;
$green: #A3D29C;
$teal1: #7ACCC8;
$teal2: #4AAAA6;
$dark-gray: #33404E;
// other colors
$pale-blue: #E5F3FF;
$gray: #4A4A4A;
$light-gray: #747A80;

$khula: 'Khula', sans-serif;
$raleway: 'Raleway', sans-serif;
$lora: 'Lora', Georgia, serif;
