$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$red: #E46056;
$dark-gray: #33404E;
$pale-blue: #E5F3FF;
$gray: #4A4A4A;
$light-gray: #99A0A7;

$khula: 'Khula', sans-serif;
$raleway: 'Raleway', sans-serif;
$lora: 'Lora', Georgia, serif;
