@import url(../../node_modules/semantic-ui-button/button.css);
@import url(../../node_modules/semantic-ui-container/container.css);
@import url(../../node_modules/semantic-ui-dimmer/dimmer.css);
@import url(../../node_modules/semantic-ui-divider/divider.css);
@import url(../../node_modules/semantic-ui-dropdown/dropdown.css);
@import url(../../node_modules/semantic-ui-form/form.css);
@import url(../../node_modules/semantic-ui-grid/grid.css);
@import url(../../node_modules/semantic-ui-header/header.css);
@import url(../../node_modules/semantic-ui-icon/icon.css);
@import url(../../node_modules/semantic-ui-image/image.css);
@import url(../../node_modules/semantic-ui-item/item.css);
@import url(../../node_modules/semantic-ui-list/list.css);
@import url(../../node_modules/semantic-ui-menu/menu.css);
@import url(../../node_modules/semantic-ui-modal/modal.css);
@import url(../../node_modules/semantic-ui-reset/reset.css);
@import url(../../node_modules/semantic-ui-segment/segment.css);
@import url(../../node_modules/semantic-ui-sidebar/sidebar.css);
@import url(../../node_modules/semantic-ui-site/site.css);
@import url(../../node_modules/semantic-ui-transition/transition.css);
.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8rem;
  font-family: 'Lora', Georgia, Serif;
  color: #444;
  transition: all .4s .3s ease-in; }
  @media (min-width: 600px) {
    body {
      font-size: 13px; } }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }

html {
  font-size: 14px; }
  @media (min-width: 600px) {
    html {
      font-size: 16px; } }
  @media (min-width: 768px) {
    html {
      font-size: 18px; } }

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: normal; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 3rem; }

h3 {
  font-family: "Khula", sans-serif;
  font-weight: bold;
  font-size: 1.5rem; }

p {
  font-family: "Lora", Georgia, serif;
  color: #99A0A7;
  font-size: 1.075rem;
  line-height: 1.7rem; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.pushable {
  overflow-y: auto !important; }

.masthead {
  min-height: 90%;
  min-height: 90vh; }

.masthead .logo.item img {
  margin-right: 1em; }

.masthead .ui.menu .ui.button {
  margin-left: 0.5em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .toc.item {
    display: block; }
  .masthead.segment {
    min-height: 350px; }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }

/* basics */
.dark-text {
  color: #33404E; }

h3 {
  color: #33404E; }

.h3-lg {
  font-size: 2rem; }

.p-lg {
  font-size: 1.4rem;
  line-height: 1.9rem; }

.ui.menu .item > img:not(.ui) {
  width: 10.5em; }

/* section: welcome slide */
#home .twelve.wide.column.text-centered {
  width: 100% !important; }
  @media (min-width: 600px) {
    #home .twelve.wide.column.text-centered {
      width: 75% !important; } }

h1.ui.header.hero {
  font-family: "Raleway", sans-serif;
  color: #E46056;
  font-size: 2.5rem;
  font-weight: normal; }
  @media (min-width: 600px) {
    h1.ui.header.hero {
      font-size: 3rem; } }
  @media (min-width: 768px) {
    h1.ui.header.hero {
      font-size: 4rem; } }

.masthead {
  background-color: #E5F3FF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.hero-wrap {
  height: 80%;
  height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.ui.secondary.pointing.menu {
  border: none; }

/* main desktop menu */
@media (max-width: 600px) {
  .ui.menu:not(.vertical) .item {
    margin-top: 5px; } }

@media (max-width: 767px) {
  .menu-wrap {
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; } }

.ui.menu:not(.vertical) .right.item,
.ui.menu:not(.vertical) .right.menu {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.ui.container.full-width {
  width: 100% !important; }

@media (max-width: 767px) {
  .ui.large.secondary.pointing.menu {
    padding: 1rem 0 0; } }

.ui.secondary.pointing.menu .item {
  font-family: "Khula", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  color: rgba(51, 64, 78, 0.5);
  transition: 0.33s; }

@media (min-width: 768px) {
  .ui.menu .item > img:not(.ui) {
    margin: 3px 0 !important; } }

.ui.secondary.pointing.menu .active.item {
  color: rgba(51, 64, 78, 0.5); }

@media (max-width: 768px) {
  .hide-mobile li {
    display: none !important; }
  .nav-btn i {
    font-size: 1.5rem;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; } }

/* following menu */
#menunav li {
  list-style: none; }

.hidden.menu {
  display: none; }

.menu-bg {
  background: rgba(255, 255, 255, 0.85) !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15); }

ul.following-menu {
  list-style: none; }

.logo-wrap {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.following-logo {
  max-width: 200px;
  max-height: 40px; }

.ui.menu .item:before {
  width: 0; }

.following-menu a {
  font-size: 14px;
  text-transform: uppercase !important;
  font-family: "Khula", sans-serif;
  color: rgba(51, 64, 78, 0.5) !important;
  padding-top: 25px !important;
  transition: 0.33s;
  border-bottom: 3px solid rgba(255, 255, 255, 0); }

.ui.menu .following-menu a.item:hover {
  background: none !important;
  background-color: none !important;
  color: rgba(51, 64, 78, 0.75) !important; }

.following-menu li.active a {
  background-color: none !important;
  background: none !important;
  border-bottom: 3px solid #7ACCC8; }

@media (max-width: 767px) {
  .left.item {
    padding: 1rem 0 0 !important; } }

.ui.large.top.menu.fixed {
  padding: 0rem 1rem 0 1rem;
  border: none !important; }

@media (max-width: 767px) {
  .ui.large.top.fixed.menu {
    background: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    pointer-events: none; }
  .ui.large.top.fixed.menu .left.menu {
    display: none !important; } }

a.toc.item.nav-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  color: #33404E;
  background: #fff;
  padding: 6px 4px 1px 9px !important;
  line-height: 2rem; }

a.toc.item.nav-btn:hover {
  cursor: pointer; }

/* static menu */
.static a.toc.item.nav-btn {
  line-height: 1rem; }

div#topmenu li {
  list-style: none; }

.ui.large.top.menu.static {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0.5rem 1rem 0 1rem; }

@media (min-width: 768px) {
  a.toc.item.nav-btn {
    display: none !important; }
  .ui.menu.static .item {
    line-height: 0 !important; } }

/* mobile menu icon */
a.toc.item.nav-btn {
  padding: 12px 2px 5px 9px; }

/* mobile modal menu */
ul.modal-nav {
  padding-left: 0; }

.modal-nav li {
  list-style: none; }

.modal-nav a {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #fff;
  line-height: 4rem; }

i.close.icon.nav-close {
  font-size: 2rem; }

.ui.dimmer {
  background-color: rgba(51, 64, 78, 0.95) !important; }

/* blocks of content, content sections */
.content-block {
  min-height: 90%;
  min-height: 90vh;
  padding: 9rem 0 !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ui.items > .item > .content {
  text-align: left; }

input#mc-embedded-subscribe {
  font-family: "Khula", sans-serif !important;
  font-size: 1.2rem;
  line-height: 0.5rem;
  padding: 1.25rem 1rem 1rem;
  width: 100%;
  max-width: 330px;
  margin-top: 1rem; }
  @media (min-width: 800px) {
    input#mc-embedded-subscribe {
      width: auto !important;
      margin-top: 0 !important; } }

.email.ui.input {
  max-width: 330px;
  background: none !important;
  border-radius: 0px !important;
  border-width: 0 0 3px 0 !important;
  border-color: #E46056 !important;
  border-bottom-style: inset !important;
  color: #33404E !important;
  font-family: "Khula", sans-serif !important;
  font-size: 1.5rem;
  font-weight: bold !important;
  padding: 0.67861429em 1em 0.2rem !important; }

#confirmation-msg {
  font-family: "Khula", sans-serif;
  color: #4AAAA6;
  margin-top: 2rem; }

#confirmation-msg .error {
  color: #E46056; }

input.email.ui.input::-webkit-input-placeholder {
  color: #4AAAA6 !important;
  line-height: 1.5rem;
  font-size: 0.84rem;
  font-family: "Khula", sans-serif !important;
  font-weight: bold !important; }

input.email.ui.input::-moz-placeholder {
  color: #4AAAA6 !important;
  line-height: 1.5rem;
  font-size: 0.84rem;
  font-family: "Khula", sans-serif !important;
  font-weight: bold !important; }

input.email.ui.input:-moz-placeholder {
  color: #4AAAA6 !important;
  line-height: 1.5rem;
  font-size: 0.84rem;
  font-family: "Khula", sans-serif !important;
  font-weight: bold !important; }

input.email.ui.input:-ms-input-placeholder {
  color: #4AAAA6 !important;
  line-height: 1.5rem;
  font-size: 0.84rem;
  font-family: "Khula", sans-serif !important;
  font-weight: bold !important; }

/* mailchimp #2 */
input#mc-embedded-subscribe2 {
  background: #fff !important;
  font-family: "Khula", sans-serif !important;
  font-size: 1.2rem;
  line-height: 0.5rem;
  padding: 1.25rem 1rem 1rem;
  width: 100%;
  max-width: 330px;
  margin-top: 1rem; }
  @media (min-width: 800px) {
    input#mc-embedded-subscribe2 {
      width: auto !important;
      margin-top: 0 !important; } }

input#mce-EMAIL2 {
  border-color: #fff !important;
  color: #fff !important; }

input#mce-EMAIL2::-webkit-input-placeholder {
  color: #fff !important; }

input#mce-EMAIL2::-moz-placeholder {
  color: #fff !important; }

input#mce-EMAIL2:-moz-placeholder {
  color: #fff !important; }

input#mce-EMAIL2:-ms-input-placeholder {
  color: #fff !important; }

#confirmation-msg2 {
  font-family: "Khula", sans-serif;
  color: #33404E !important;
  margin-top: 2rem; }

#confirmation-msg2 .error {
  color: #fff; }

/* section: how it works */
@media (max-width: 767px) {
  #howitworks .three.column.row {
    max-width: 400px;
    margin: 0 auto; }
  #howitworks .three.column.row .column {
    margin: 0 auto 1rem !important;
    text-align: center; } }

/* section: trips by you */
.sixteen.wide.column.memories-wrap {
  -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 3rem; }

.sixteen.wide.column.uiprev-wrap {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.memories img {
  max-width: 300px;
  border: 1px solid #eee;
  border-radius: 2px; }

.memory01 img {
  max-width: 80px;
  -webkit-transform: rotateZ(15deg);
      -ms-transform: rotate(15deg);
          transform: rotateZ(15deg); }
  @media (min-width: 600px) {
    .memory01 img {
      max-width: 120px; } }
  @media (min-width: 768px) {
    .memory01 img {
      max-width: 150px; } }

.memory02 img {
  max-width: 120px;
  -webkit-transform: rotateZ(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotateZ(-15deg); }
  @media (min-width: 600px) {
    .memory02 img {
      max-width: 200px; } }
  @media (min-width: 768px) {
    .memory02 img {
      max-width: 250px; } }

.memory03 img {
  max-width: 95px;
  -webkit-transform: rotateZ(15deg);
      -ms-transform: rotate(15deg);
          transform: rotateZ(15deg); }
  @media (min-width: 600px) {
    .memory03 img {
      max-width: 150px; } }
  @media (min-width: 768px) {
    .memory03 img {
      max-width: 200px; } }

/* section: trippitch is made for ... */
.sixteen.wide.column.uiprev-wrap {
  -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 3rem; }
  @media (max-width: 767px) {
    .sixteen.wide.column.uiprev-wrap {
      height: 350px;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap-reverse;
          -ms-flex-wrap: wrap-reverse;
              flex-wrap: wrap-reverse; } }

.about-centered {
  text-align: center !important;
  min-width: 360px !important;
  max-width: 460px; }

.uiprev01 img {
  max-height: 100px;
  margin-left: 40px; }
  @media (max-width: 767px) {
    .uiprev01 img {
      max-height: 70px; } }

@media (max-width: 768px) {
  .uiprev02 {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center; }
  .uiprev01 {
    margin-right: 40px !important; } }

.uiprev02 img {
  max-width: 200px; }
  @media (max-width: 767px) {
    .uiprev02 img {
      max-width: 200px;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto; } }

.uiprev03 img {
  max-height: 100px; }
  @media (max-width: 767px) {
    .uiprev03 img {
      max-height: 70px; } }

/* section: founders */
.ui.items .item {
  margin: 1rem 0 !important; }

.ui.items > .item > .content > a.header {
  color: #E46056;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem !important;
  margin-bottom: 0 !important; }

.ui.items > .item .meta {
  font-family: "Lora", Georgia, serif;
  font-size: 1rem;
  margin-bottom: 2rem; }

.ui.items > .item > .content > .description {
  font-family: "Lora", Georgia, serif;
  font-size: 1rem;
  color: #99A0A7 !important; }

@media (max-width: 767px) {
  .content {
    max-width: 250px;
    margin: 0 auto !important; } }

/* section: call to action */
#signup .ten.wide.column.text-centered {
  width: 100% !important; }
  @media (min-width: 600px) {
    #signup .ten.wide.column.text-centered {
      width: 62.5% !important; } }

.call-to-action {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 100 !important; }
  @media (min-width: 600px) {
    .call-to-action {
      font-size: 2.5rem; } }
  @media (min-width: 768px) {
    .call-to-action {
      font-size: 3rem; } }

h2.section-header {
  text-align: center;
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    h2.section-header {
      margin-bottom: 5rem; } }

/* section: contact */
@media (max-width: 768px) {
  .reach-out {
    padding: 4rem 0 !important; } }

.social-icon {
  height: 40px;
  width: 40px;
  margin: 20px 5px;
  border: 1px solid #ABABAB;
  opacity: 0.33;
  padding: 10px;
  border-radius: 3px; }

img.contact-logo {
  max-width: 150px !important;
  width: 100%;
  margin-bottom: 1rem; }

/* footer */
.ui.inverted.vertical.footer.segment {
  background-color: #33404E !important;
  color: rgba(255, 255, 255, 0.5); }

.red {
  background-color: #E46056 !important; }

.text-centered {
  text-align: center !important; }

.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row {
  margin: 0 auto; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
